#Myconfigurations
*.opensdf
bin
Debug
Debug.win32
*.psess
*.vsp
*.d
*.o
*.sdf
*.db
*.zip
*.suo
runtime
simulator
cocos2d-x
Download
UserDefault.xml

#Android build
*.rawproto
.externalNativeBuild
.gradle
.idea
